//web style
*{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-appearance: none;
  box-sizing:border-box;
}
.wrap{
  line-height: 1;
}
.center{
  text-align: center;
}
.height30{
  height:30px !important;
}
.boxSizing{
  box-sizing: border-box;
}
//tab
.am-tabs-top .am-tabs-bar .am-tabs-tab {
  font-size: 16px;
  color:#7f7f7f;
  height: 44px;
  line-height: 44px;
}
.am-tabs-top .am-tabs-bar .am-tabs-tab-active{
  color:#000;
}
.am-tabs-top .am-tabs-ink-bar{
  background-color:#ffd900;
  bottom:-1px;
}
.am-modal-body > div{
  font-size:16px;
}
.am-tabs-content-animated{
  flexGrow:1;
}
.am-tabs{
    display: flex;
    flexGrow: 1;
    flex-direction: column;
}
.am-tabs-bar{
  height:44px;
  border-bottom: 1px solid rgb(214, 214, 214);
  
}
.workBench .am-tabs{
  flexGrow: initial !important;
}
//弹窗
.am-modal-wrap .am-modal-button-group-v .am-modal-button{
    font-size: 16px;
    line-height: 36px;
    color: #000;
    width: 80%;
    border: none;
    background: #ffd900;
    height: 36px;
    border-radius: 2px;
    display: block;
    margin: 0 auto 20px;
    font-size: 17px;
}
.am-modal-wrap .am-modal.am-modal-transparent .am-modal-content{
    border-radius:4px;
}
.am-modal-wrap .am-modal.am-modal-transparent .am-modal-content .am-modal-body{
    padding-bottom:20px;
    line-height: 20px;
}
.am-modal-wrap .am-modal.am-modal-transparent .am-modal-content{
    padding-top:25px;
}
//轻提示
.am-toast{
    background: rgba(0,0,0,.5);
}
.am-toast .am-toast-text{
  background: #fff;
  font-size: 15px;
  color: #000;
  min-width: 120px;
  height: 90px;
}

.am-toast .anticon-check-circle-o:before{
  content: "";
  // display: none;
  background: url("../public/images/success.png");
  width: 40px;
  height:27px;
  background-size:40px;
  margin:18px 0 8px;
}
.am-toast .anticon{
  margin-bottom: 0;
  font-size: 16px;
}
.am-toast .am-toast-text-icon{
  padding:0;
  border-radius: 8px;
}
//loading
.am-toast .anticon-loading:before{
    background: url("../public/images/loading.gif");
    width: 30px;
  height:30px;
  background-size:30px;
  margin:18px 0 8px;
   content: "";
   -webkit-animation:"initial";
   -moz-animation:"initial";
   -o-animation:"initial";
   -ms-animation:"initial";
   animation:"initial",

}
//失败
.am-toast .anticon-cross-circle-o:before{
  content: "";
  // display: none;
  background: url("../public/images/fail.png");
  width: 30px;
  height:30px;
  background-size:30px;
  margin:18px 0 8px;
}
//model
.am-modal .am-modal-close-x:after{
  content: "";
}
//退出登录
.am-action-sheet-body .am-action-sheet-button-list-item{
  height: 44px;
  line-height: 44px;
  font-size: 17px;
}
.am-action-sheet-body .am-action-sheet-button-list .am-action-sheet-cancel-button{
  margin-top:5px;
}
.am-action-sheet-body .am-action-sheet-button-list .am-action-sheet-cancel-button-mask{
  height:5px;
  top:-5px;
}
//input
input{
    -webkit-transition: border-color 0.3s linear;
    -moz-transition: border-color 0.3s linear;
    -ms-transition: border-color 0.3s linear;
    -o-transition: border-color 0.3s linear;
    transition: border-color 0.3s linear;
    outline: 0;
}
.input:focus{
  border-color:#000 !important;
}
//overflowY
.overflowY{
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.overflowX{
  overflow-x: auto;
}
//avtive style
.itemActive{
  -webkit-transition:  background-color 0.2s linear;
    -moz-transition:  background-color 0.2s linear;
    -ms-transition:  background-color 0.2s linear;
    -o-transition:  background-color 0.2s linear;
    transition:  background-color 0.2s linear;
}
.itemActive:active{
     background-color: #ccc !important;
}
.back{
  -webkit-transition:  opacity 0.1s linear;
    -moz-transition:  opacity 0.1s linear;
    -ms-transition:  opacity 0.1s linear;
    -o-transition:  opacity 0.2s linear;
    transition:  opacity 0.2s linear;
}
.back:active{
  opacity: 0.5,
}
.detailBtn,
.btn2{
    -webkit-transition:  background-color 0.2s linear;
    -moz-transition:  background-color 0.2s linear;
    -ms-transition:  background-color 0.2s linear;
    -o-transition:  background-color 0.2s linear;
    transition:  background-color 0.2s linear;
}
.detailBtn:active{
    background-color: #CCAD00 !important;
}
.blackBtn:active{
  background-color: rgba(44,44,44,.7) !important;
}
//文本溢出
.te {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
//margin
.mt5{
  margin-bottom: 5px;
}
.margin10{
  margin:10px 0;
}
//textarea
textarea{
  resize: none;
}
.contain{
  object-fit:contain;
}
//checkbox
.am-checkbox-inner{
  width: 22px;
  height: 22px;
}
.am-checkbox-inner:after{
  right: 4px;
  width: 5px;
  height: 11px;
  top:0;
}
.am-checkbox{
  width: 22px;
  height: 22px;
}
.height58{
  height: 58px !important;
}